Source: multilist
Section: user/other
Priority: optional
Maintainer: Christoph Würstle <n800 at axique de>
Build-Depends: debhelper (>= 4.0.0), python2.5-dev
Standards-Version: 3.6.1

Package: multilist
Architecture: all
Depends: python2.5, python2.5-hildon, python2.5-gtk2, python2.5-osso, python2.5-dbus, python2.5-gstreamer
Description: Multilist
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAA
 AAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9gCBQkmAyqhfqEAAAAddEVYdENv
 bW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAP9JREFUSMfNVsERgzAMk7lMAGPwYv8h
 eDEGrKA+eiluEqcOBdrc5S5AkCxbmAhJ4obR4aYR4kJELiMh+QNFmv2sobPUWRtKszZGOWgGkm+z
 BDrKDa4bBVjoVxa+rYNXVVcr5Kf6RFWpshJ5sOrjSVkJcDFeldiCYtQkTQWt1teYh1yHSex1nKf2
 uhLhzIuaqgae6W9B7iY7yQ4c1UzSRuQqehq9vi4QZq4De/V0U+zP+8Sag2Ao31euy7s31ucG9hkp
 SQiGfZ9B0NZUFYCl4pRfuY42BSVWt5K669gDskFQqFslsFoGgpk2pq6xU+VRF1q+n6jwpTRZ/9dx
 6+pz5APOkH7tCcRtTQAAAABJRU5ErkJggg==
