[Desktop Entry]
Encoding=UTF-8
Name=quicknote
Comment=quicknote
Type=Application
Exec=/usr/bin/run-standalone.sh /usr/bin/multilist.py
Icon=Quicknote
X-Window-Icon=quicknote
X-Window-Icon-Dimmed=quicknote
#X-Osso-Service=quicknote
X-Osso-Type=application/x-executable
