[Desktop Entry]
Encoding=UTF-8
Name=Multilist
Comment=Multilist
Type=Application
Exec=/usr/bin/run-standalone.sh /usr/bin/multilist.py
Icon=multilist
X-Window-Icon=multilist
X-Window-Icon-Dimmed=multilist
X-Osso-Type=application/x-executable
